In [1]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df= read_csv("Company_Data (1).csv")

In [3]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
df = pd.get_dummies(df, columns =['ShelveLoc','Urban','US'])

In [5]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,11.22,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,10.06,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,7.40,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,4.15,141,64,3,340,128,38,13,1,0,0,0,1,1,0

In [6]:
df['sales']='small'
df.loc[df['Sales'] > 7.5,'sales'] = "large"
df.drop(['Sales'], axis=1,inplace = True)

In [27]:
array = df.values
array

array([[138, 73, 11, ..., 0, 1, 'large'],
       [111, 48, 16, ..., 0, 1, 'large'],
       [113, 35, 10, ..., 0, 1, 'large'],
       ...,
       [162, 26, 12, ..., 0, 1, 'small'],
       [100, 79, 7, ..., 0, 1, 'small'],
       [134, 37, 0, ..., 0, 1, 'large']], dtype=object)

In [8]:
df.columns

Index(['CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age',
       'Education', 'ShelveLoc_Bad', 'ShelveLoc_Good', 'ShelveLoc_Medium',
       'Urban_No', 'Urban_Yes', 'US_No', 'US_Yes', 'sales'],
      dtype='object')

In [9]:
x = array[:,0:14]
y = array[:,14]

In [25]:
x

array([[138, 73, 11, ..., 1, 0, 1],
       [111, 48, 16, ..., 1, 0, 1],
       [113, 35, 10, ..., 1, 0, 1],
       ...,
       [162, 26, 12, ..., 1, 0, 1],
       [100, 79, 7, ..., 1, 0, 1],
       [134, 37, 0, ..., 1, 0, 1]], dtype=object)

In [26]:
y

array(['large', 'large', 'large', 'small', 'small', 'large', 'small',
       'large', 'small', 'small', 'large', 'large', 'small', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'small',
       'large', 'small', 'small', 'large', 'large', 'large', 'small',
       'small', 'large', 'large', 'large', 'small', 'large', 'small',
       'large', 'large', 'small', 'small', 'small', 'small', 'large',
       'large', 'small', 'small', 'small', 'large', 'small', 'small',
       'large', 'small', 'small', 'large', 'small', 'small', 'small',
       'large', 'small', 'small', 'small', 'large', 'small', 'small',
       'large', 'large', 'small', 'large', 'large', 'large', 'large',
       'large', 'small', 'small', 'large', 'small', 'large', 'large',
       'large', 'small', 'large', 'large', 'large', 'large', 'small',
       'small', 'large', 'large', 'large', 'small', 'large', 'small',
       'small', 'small', 'large', 'large', 'small', 'large', 'small',
       'large', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'small', 'large', 'small', 'large', 'large', 'small',
       'small', 'small', 'large', 'large', 'small', 'large', 'large',
       'small', 'small', 'large', 'small', 'large', 'large', 'large',
       'large', 'small', 'small', 'small', 'large', 'small', 'large',
       'large', 'small', 'small', 'small', 'small', 'large', 'large',
       'small', 'small', 'small', 'small', 'large', 'large', 'small',
       'large', 'large', 'large', 'large', 'large', 'large', 'small',
       'small', 'large', 'small', 'large', 'large', 'large', 'small',
       'small', 'small', 'small', 'large', 'small', 'small', 'small',
       'small', 'large', 'large', 'large', 'large', 'small', 'small',
       'large', 'small', 'large', 'large', 'large', 'small', 'small',
       'small', 'small', 'large', 'large', 'large', 'small', 'large',
       'large', 'large', 'small', 'large', 'large', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'small', 'small',
       'small', 'large', 'small', 'small', 'large', 'large', 'small',
       'small', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'small', 'large', 'large', 'small', 'large', 'small',
       'large', 'large', 'large', 'large', 'small', 'large', 'large',
       'small', 'small', 'large', 'large', 'small', 'large', 'large',
       'large', 'small', 'small', 'small', 'small', 'large', 'small',
       'large', 'small', 'large', 'large', 'small', 'large', 'small',
       'small', 'large', 'small', 'small', 'large', 'small', 'small',
       'large', 'small', 'small', 'small', 'large', 'small', 'large',
       'large', 'small', 'small', 'small', 'large', 'small', 'small',
       'small', 'large', 'large', 'small', 'small', 'large', 'large',
       'small', 'small', 'large', 'large', 'small', 'large', 'large',
       'large', 'small', 'large', 'small', 'large', 'large', 'large',
       'small', 'small', 'large', 'large', 'large', 'small', 'small',
       'large', 'large', 'large', 'small', 'small', 'large', 'large',
       'small', 'large', 'small', 'large', 'small', 'small', 'large',
       'large', 'large', 'small', 'large', 'small', 'small', 'small',
       'large', 'small', 'large', 'small', 'small', 'large', 'small',
       'small', 'large', 'small', 'large', 'small', 'small', 'large',
       'small', 'large', 'small', 'large', 'small', 'large', 'large',
       'large', 'large', 'large', 'large', 'small', 'small', 'small',
       'large', 'small', 'small', 'large', 'large', 'small', 'large',
       'large', 'small', 'small', 'large', 'large', 'large', 'large',
       'large', 'large', 'small', 'large', 'large', 'large', 'small',
       'small', 'small', 'large', 'small', 'small', 'large', 'large',
       'small', 'small', 'large', 'large', 'large', 'small', 'small',
       'small', 'small', 'small', 'large', 'small', 'small', 'small',
       'large'], dtype=object)

### spling

In [10]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [24]:
x_train,x_test, y_train, y_test

(array([[134, 103, 13, ..., 0, 0, 1],
        [115, 28, 11, ..., 1, 0, 1],
        [142, 73, 14, ..., 0, 0, 1],
        ...,
        [114, 38, 13, ..., 1, 0, 1],
        [115, 115, 3, ..., 1, 0, 1],
        [116, 37, 0, ..., 1, 1, 0]], dtype=object),
 array([[109, 22, 10, ..., 0, 0, 1],
        [137, 112, 15, ..., 1, 0, 1],
        [111, 52, 0, ..., 1, 0, 1],
        ...,
        [130, 100, 0, ..., 1, 1, 0],
        [117, 32, 0, ..., 1, 1, 0],
        [120, 77, 15, ..., 1, 0, 1]], dtype=object),
 array(['small', 'large', 'large', 'large', 'large', 'small', 'small',
        'large', 'large', 'large', 'small', 'small', 'large', 'small',
        'small', 'small', 'large', 'large', 'large', 'large', 'large',
        'small', 'small', 'large', 'small', 'large', 'large', 'small',
        'small', 'large', 'small', 'large', 'large', 'large', 'large',
        'small', 'large', 'small', 'small', 'large', 'small', 'large',
        'large', 'large', 'large', 'large', 'small', 'small', 'small',
        'large', 'large', 'small', 'large', 'large', 'large', 'small',
        'small', 'small', 'small', 'small', 'large', 'small', 'large',
        'small', 'small', 'small', 'large', 'small', 'small', 'small',
        'small', 'small', 'large', 'large', 'large', 'large', 'small',
        'small', 'small', 'large', 'large', 'large', 'large', 'small',
        'large', 'large', 'small', 'small', 'large', 'small', 'large',
        'small', 'small', 'large', 'large', 'small', 'large', 'small',
        'small', 'large', 'large', 'large', 'small', 'large', 'small',
        'large', 'small', 'large', 'large', 'large', 'large', 'large',
        'small', 'small', 'large', 'large', 'large', 'small', 'small',
        'large', 'small', 'small', 'large', 'small', 'small', 'small',
        'large', 'small', 'small', 'large', 'small', 'small', 'large',
        'large', 'large', 'large', 'small', 'large', 'large', 'small',
        'large', 'large', 'small', 'small', 'large', 'small', 'large',
        'large', 'small', 'large', 'large', 'small', 'small', 'small',
        'large', 'small', 'large', 'large', 'large', 'small', 'small',
        'small', 'large', 'large', 'small', 'large', 'large', 'small',
        'large', 'small', 'large', 'small', 'large', 'large', 'small',
        'small', 'small', 'small', 'small', 'large', 'small', 'small',
        'small', 'large', 'large', 'large', 'large', 'small', 'large',
        'small', 'small', 'small', 'large', 'small', 'small', 'small',
        'small', 'large', 'small', 'small', 'large', 'large', 'small',
        'large', 'large', 'large', 'large', 'large', 'small', 'large',
        'small', 'small', 'large', 'large', 'large', 'small', 'large',
        'small', 'small', 'large', 'large', 'large', 'small', 'small',
        'small', 'small', 'small', 'small', 'large', 'small', 'large',
        'small', 'large', 'large', 'large', 'small', 'small', 'small',
        'small', 'small', 'small', 'large', 'small', 'small', 'small',
        'small', 'small', 'large', 'small', 'small', 'large', 'small',
        'large', 'large', 'large', 'large', 'large', 'large', 'large',
        'small', 'large', 'large', 'large', 'large', 'small', 'large',
        'large', 'large', 'small', 'small', 'large', 'small', 'large',
        'large', 'large', 'small', 'large', 'large', 'small', 'large'],
       dtype=object),
 array(['large', 'small', 'small', 'large', 'large', 'small', 'small',
        'large', 'small', 'large', 'large', 'large', 'small', 'large',
        'small', 'small', 'small', 'small', 'small', 'small', 'large',
        'large', 'small', 'small', 'large', 'small', 'small', 'small',
        'small', 'small', 'small', 'small', 'large', 'large', 'small',
        'small', 'large', 'small', 'small', 'large', 'small', 'large',
        'large', 'large', 'small', 'small', 'small', 'large', 'large',
        'large', 'small', 'small', 'small', 'small', 'large', 'small',
        'large', 'large', 'small', 'small', 'large', 'large', 'large',
        'large', 'small', 'small', 'large', 'large', 'large', 'large',
        'large', 'large', 'small', 'small', 'large', 'large', 'small',
        'small', 'small', 'small', 'small', 'large', 'large', 'small',
        'small', 'large', 'small', 'large', 'small', 'large', 'large',
        'small', 'small', 'small', 'large', 'small', 'small', 'large',
        'small', 'small', 'large', 'small', 'small', 'small', 'small',
        'large', 'small', 'small', 'large', 'small', 'small', 'large',
        'large', 'large', 'large', 'large', 'large', 'small', 'small',
        'small'], dtype=object))

In [11]:
num_trees = 100
max_features = 3    #
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features) 
model.fit(x_train,y_train)
pred = model.predict(x_test)
results = cross_val_score(model, x,y, cv=kfold)

print(results.mean())
confusion_matrix(y_test, pred)

0.8125

array([[40, 13],
       [12, 55]], dtype=int64)

In [12]:
results

array([0.8  , 0.875, 0.675, 0.8  , 0.775, 0.875, 0.825, 0.85 , 0.8  ,
       0.85 ])

In [13]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

 prediction

In [14]:
pred = model.predict(x_test)

In [15]:
pred

array(['large', 'small', 'large', 'large', 'small', 'small', 'small',
       'large', 'small', 'large', 'large', 'small', 'small', 'large',
       'small', 'small', 'large', 'small', 'small', 'small', 'large',
       'small', 'large', 'small', 'large', 'small', 'small', 'small',
       'large', 'small', 'small', 'small', 'large', 'large', 'small',
       'large', 'small', 'small', 'small', 'large', 'small', 'small',
       'large', 'small', 'small', 'small', 'small', 'large', 'large',
       'large', 'small', 'small', 'small', 'large', 'small', 'small',
       'small', 'large', 'small', 'small', 'large', 'large', 'large',
       'small', 'large', 'small', 'large', 'large', 'large', 'large',
       'large', 'large', 'small', 'large', 'large', 'small', 'small',
       'small', 'small', 'small', 'small', 'large', 'large', 'small',
       'small', 'small', 'large', 'large', 'small', 'large', 'large',
       'small', 'small', 'small', 'large', 'small', 'small', 'large',
       'small', 'small', 'large', 'small', 'small', 'small', 'small',
       'small', 'small', 'small', 'large', 'small', 'small', 'large',
       'large', 'large', 'large', 'large', 'large', 'large', 'small',
       'small'], dtype=object)

 ## create dataframe actual and prediction

In [16]:
data = pd.DataFrame({ "actual":y_test,"prection":pred})

In [17]:
data

    actual prection
0    large    large
1    small    small
2    small    large
3    large    large
4    large    small
..     ...      ...
115  large    large
116  large    large
117  small    large
118  small    small
119  small    small

[120 rows x 2 columns]

In [23]:
df1 = df.columns
df1

Index(['CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age',
       'Education', 'ShelveLoc_Bad', 'ShelveLoc_Good', 'ShelveLoc_Medium',
       'Urban_No', 'Urban_Yes', 'US_No', 'US_Yes', 'sales'],
      dtype='object')

In [19]:
df1= df1.drop(['sales'])

In [28]:
feature = model.feature_importances_
feature

array([0.10191693, 0.09380322, 0.10937679, 0.08492572, 0.22223374,
       0.13822687, 0.05392235, 0.04080973, 0.08687025, 0.02458336,
       0.01048698, 0.01076309, 0.01259438, 0.0094866 ])

In [21]:
data = pd.DataFrame({'columns':df1,"importances":feature})

In [22]:
data

             columns  importances
0          CompPrice     0.101917
1             Income     0.093803
2        Advertising     0.109377
3         Population     0.084926
4              Price     0.222234
5                Age     0.138227
6          Education     0.053922
7      ShelveLoc_Bad     0.040810
8     ShelveLoc_Good     0.086870
9   ShelveLoc_Medium     0.024583
10          Urban_No     0.010487
11         Urban_Yes     0.010763
12             US_No     0.012594
13            US_Yes     0.009487